html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
}

.home-page {
    position: absolute;
    display: block;
    width: 99%;
    height: 90%;
    padding-bottom: 5%;
}

.footer {
    height: 10%;

}

.header {
    height: 10%;
}

div {
    border: 1px solid navy;
    margin: 1px;
    padding: 2px;
    text-align: center;
}

.container {
    height: 87%;

}

.content-box {
    height: 49%;
}

/* Clear floats after the columns */
.content-box:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: left;
    width: 48.8%;
    padding: 5px;
    height: -webkit-fill-available;
}


.gutter {
    background-color: #130dee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 10px;
    margin: -10px 0 0 0;
    height: 106%;
    float: left;
    border: none;
}

.gutter.gutter-vertical {
    cursor: row-resize;
    display: block;
    border: none;

}

.split {
    height: 99%;
}